<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs | Learn with Mohit</title>
  </head>
  <body>
    <!-- we need to use the double curly brackets for dynamic access of the data from the views.py to the templates.html  -->
    <h1>Welcome to the Blogs Page {{name}}</h1>
    <!-- We can also use the following syntax to access the data -->
    <h2>Welcome to the Blogs Page {{variable}}</h2>
  </body>
</html>
