<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- This is the dynamic templete using like we have components in the react but the working is different -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- The following is the syntax for the inheriting the content from the base.html in the other html files... -->
    {% block content %} {% endblock %}
  </body>
</html>
